
.swiper-container-hero, .swiper-overlay-text {
  height: 70vh;
}
.swiper-pagination-hero {
  margin-top: -20px;
  position: relative;
  z-index: 10;
}
.swiper-button-prev, .swiper-button-next {
  top: 33% !important;
  margin: auto 2rem;
}

.swiper-container {
  height: 400px;
}
.swiper-pagination-bullet {
  background: $bright;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: $bright;
}



